/* You can add global styles to this file, and also import other style files */
/* margins */
.margin-top-20 {
    margin-top: 20px;
}
.margin-botton-10 {
    margin-bottom: 10px;
}

.white {
    color: #fff;
}

.carrito-total {
    border-top:1px solid gray;
}

